header, footer {
    background-color: yellow;
    color: #000000;
    padding: 20px;
    text-align: center;
}

.title {
    background-color: yellow;
    text-align: center;
    height: auto;
    
}

#wrapper {
    text-decoration:transparent ;
}
